In [1]:
import csv
import pandas as pd
import folium
from folium import plugins
from folium.plugins import HeatMap
import bqplot
from bqplot import pyplot as plt
from bqplot import Lines, Figure, LinearScale, DateScale, Axis, Scale, LogScale
from ipyleaflet import Map, GeoJSON, WidgetControl, SearchControl, LayerGroup, AwesomeIcon, Marker, Circle, FullScreenControl, LayersControl, basemaps
import os
import json
from ipywidgets import interact, interact_manual

In [2]:
def CSVtoLIST(file):
    dataList = []
    with open(file, newline='') as dataFile:
        csvReader = csv.reader(dataFile)
        next(csvReader, None)
        for line in csvReader:
            if line[0] == 'NA' or line[1] == 'NA':
                continue
            else:
                tempList = []
                tempList.insert(len(tempList), float(line[0]))
                tempList.insert(len(tempList), float(line[1]))
                tempList.insert(len(tempList), line[2])
                tempList.insert(len(tempList), line[3])
                tempList.insert(len(tempList), line[4])
                tempList.insert(len(tempList), line[5])
                dataList.insert(len(dataList), tempList)
    return dataList

def CSVtoListPrice(file):
    listWithPrices = []
    with open(file, newline='') as dataFile:
        csvReader = csv.reader(dataFile)
        next(csvReader, None)
        for line in csvReader:
            if line[0] == 'NA' or line[1] == 'NA':
                continue
            else:
                tempList = []
                tempList.insert(len(tempList), float(line[0]))
                tempList.insert(len(tempList), float(line[1]))
                if line[2] == 'NA':
                    tempList.insert(len(tempList), float(-1))
                else:
                    tempList.insert(len(tempList), float(line[2]))
                tempList.insert(len(tempList), line[3])
                tempList.insert(len(tempList), line[4])
                tempList.insert(len(tempList), line[5])
                listWithPrices.insert(len(listWithPrices), tempList)
    return listWithPrices

def listToDataFrame(dataList):
    dataDict = {'Lat': [], 'Lon': [], 'Infl_Price': [], 'Date': [], 'Neighborhood': [], 'DT': [], 'Year': []}
    for data in dataList:
        dataDict["Lat"].insert(len(dataDict["Lat"]), data[0])
        dataDict["Lon"].insert(len(dataDict["Lon"]), data[1])
        dataDict["Infl_Price"].insert(len(dataDict["Infl_Price"]), data[2])
        dataDict["Date"].insert(len(dataDict["Date"]), data[3])
        dataDict["Neighborhood"].insert(len(dataDict["Neighborhood"]), data[4])
        dataDict["DT"].insert(len(dataDict["DT"]), data[5])
        dataDict['Year'].insert(len(dataDict['Year']), int(data[3][0:4]))
    return dataDict

In [3]:
data = listToDataFrame(CSVtoLIST('Cleaned_Housing_Data.csv'))
df = pd.DataFrame(data=data)
priceData = listToDataFrame(CSVtoListPrice('Cleaned_Housing_Data.csv'))
priceDF = pd.DataFrame(data=priceData)
priceDF

,Lat,Lon,Infl_Price,Date,Neighborhood,DT,Year
0,42.917209,-78.847076,-1.000000e+00,1857-11-29,Hamlin Park,,1857
1,42.881633,-78.855248,-1.000000e+00,1892-01-29,Pratt-Willert,,1892
2,42.880117,-78.856041,-1.000000e+00,1892-01-29,Pratt-Willert,,1892
3,42.878616,-78.855016,-1.000000e+00,1892-01-29,Ellicott,,1892
4,42.933235,-78.841641,-1.000000e+00,1893-04-01,Fillmore-Leroy,,1893
...,...,...,...,...,...,...,...
335802,42.896611,-78.872309,1.951912e+07,2015-03-03,Allentown,DEED,2015
335803,42.892881,-78.878159,1.951912e+07,2015-03-03,Lower West Side,DEED,2015
335804,42.939360,-78.807180,2.168840e+07,2009-08-07,Kensington-Bailey,DDO,2009
335805,42.903316,-78.834907,2.168840e+07,2009-08-11,Broadway Fillmore,DDO,2009
335806,42.904090,-78.823900,1.714655e+08,1994-12-21,Genesee-Moselle,D1D,1994

In [4]:
chartData = priceDF[(priceDF['Infl_Price'] > 1) & (priceDF['Year'] < 2021)]
lineData = chartData.groupby(['Neighborhood', 'Year']).size().reset_index()
fruitBelt = lineData[(lineData['Neighborhood'] == 'Fruit Belt') & (lineData['Year'] < 2021)]
fruitBelt = fruitBelt.rename(columns={0: 'Home'})
fruitBelt

    Neighborhood  Year  Home
319   Fruit Belt  1994    44
320   Fruit Belt  1995    39
321   Fruit Belt  1996    38
322   Fruit Belt  1997    32
323   Fruit Belt  1998    39
324   Fruit Belt  1999    53
325   Fruit Belt  2000    40
326   Fruit Belt  2001    34
327   Fruit Belt  2002    28
328   Fruit Belt  2003    27
329   Fruit Belt  2004    31
330   Fruit Belt  2005    44
331   Fruit Belt  2006    54
332   Fruit Belt  2007    51
333   Fruit Belt  2008    37
334   Fruit Belt  2009    30
335   Fruit Belt  2010    37
336   Fruit Belt  2011    26
337   Fruit Belt  2012    65
338   Fruit Belt  2013    50
339   Fruit Belt  2014    47
340   Fruit Belt  2015    31
341   Fruit Belt  2016    38
342   Fruit Belt  2017    50
343   Fruit Belt  2018    43
344   Fruit Belt  2019    30
345   Fruit Belt  2020     9

In [5]:
import pandas as pd
import re
import folium
from dateutil.parser import parse


housingDataFrame = pd.read_csv('Market_Data.csv')
housingDataFrame = housingDataFrame.dropna()
locationColumn = housingDataFrame['LOCATION_open_data']
locationList = []
lat = []
lon = []
for location in locationColumn:
    locationList.insert(len(locationList), re.sub('[()]', '', location))

for location in locationList:
    combo = location.split(", ")
    lat.insert(len(lat), combo[0])
    lon.insert(len(lon), combo[1])

housingDataFrame['LAT'] = lat
housingDataFrame['LON'] = lon

housingDataDict = []
for row in housingDataFrame.itertuples():
    if row[3] != 'No Sales History' or row[7] != 'No Sales History' and row[3] != '$1':
        housingDict = {'Date_Sold': row[2],
                       'Price': row[3],
                       'Total_Value': row[7],
                       'Census_Tract': row[11],
                       'Block_Group': row[12],
                       'SBL': row[13],
                       'Address': row[14],
                       'Neighborhood': row[15],
                       'Latitude': row[17],
                       'Longitude': row[18],
                       'Prior_Owner': row[6],
                       'Year': 0
                       }
        housingDataDict.insert(len(housingDataDict), housingDict)

for obj in housingDataDict:
    obj['Price'] = re.sub('[$]', '', obj['Price'])
    obj['Price'] = re.sub('[ ]', '', obj['Price'])
    obj['Price'] = float(obj['Price'].replace(',', ''))
    obj['Total_Value'] = re.sub('[$]', '', obj['Total_Value'])
    obj['Total_Value'] = re.sub('[ ]', '', obj['Total_Value'])
    obj['Total_Value'] = re.sub('[()]', '', obj['Total_Value'])
    obj['Total_Value'] = float(obj['Total_Value'].replace(',', ''))

for obj in housingDataDict:
    date = str(parse(obj['Date_Sold']).date())
    date = date[0:4]
    obj['Year'] = int(date)

housingDataDict = [i for i in housingDataDict if (i['Year'] <= 2020)]

C:\Users\KevinBrito\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
chartData
priceData = chartData.groupby(['Neighborhood', 'Year']).Infl_Price.mean().reset_index()
priceDataFB = priceData[(priceData['Neighborhood'] == 'Fruit Belt') & (priceData['Year'] < 2021)]
priceDataBuff = chartData.groupby(['Year']).Infl_Price.mean().reset_index()
chartData

,Lat,Lon,Infl_Price,Date,Neighborhood,DT,Year
191813,42.950250,-78.837020,8.770409e+00,1900-10-04,Central Park,D1B,1900
191814,42.961316,-78.899668,8.770409e+00,1903-11-17,Riverside,D1B,1903
191815,42.914651,-78.855535,8.770409e+00,1904-11-16,Masten Park,D1D,1904
191816,42.925742,-78.878599,8.770409e+00,1906-09-22,Elmwood Bidwell,D1BU,1906
191817,42.887979,-78.838820,8.770409e+00,1907-11-19,Broadway Fillmore,D1D,1907
...,...,...,...,...,...,...,...
335802,42.896611,-78.872309,1.951912e+07,2015-03-03,Allentown,DEED,2015
335803,42.892881,-78.878159,1.951912e+07,2015-03-03,Lower West Side,DEED,2015
335804,42.939360,-78.807180,2.168840e+07,2009-08-07,Kensington-Bailey,DDO,2009
335805,42.903316,-78.834907,2.168840e+07,2009-08-11,Broadway Fillmore,DDO,2009
335806,42.904090,-78.823900,1.714655e+08,1994-12-21,Genesee-Moselle,D1D,1994

In [7]:
date_start = pd.datetime(1975, 12, 31)
date_end = pd.datetime(2020, 12, 31)

date_scale = DateScale(min=date_start, max=date_end)
date_data = pd.date_range(start=date_start, end=date_end, freq='A', normalize=True)

x_scale = LinearScale()

lines = Lines(x=priceDataFB.Year, y=priceDataFB.Infl_Price, scales={'x': LinearScale(), 'y': x_scale})
#linesBuff = Lines(x=priceDataBuff.Year, y=priceDataBuff.Infl_Price, scales={'x': LinearScale(), 'y':x_scale}, colors=['red'])
ax_x = Axis(label='Year', scale=date_scale, num_ticks=10, tick_format='%Y')
ax_y = Axis(label='Price', scale=x_scale, orientation='vertical', side='left')
figure = Figure(axes=[ax_x, ax_y], title='Average Home Price in Fruit Belt', marks=[lines], animation_duration=500,
                layout={'max_height': '250px', 'max_width': '700px'})

homePurchData = Lines(x=fruitBelt.Year, y=fruitBelt.Home, scales={'x': LinearScale(), 'y': x_scale})
numHomesPurch = Figure(axes=[ax_x, ax_y], title='Average Number of Homes Purchased in Fruit Belt', marks =[homePurchData], 
                       animation_duration = 500, layout={'max_height': '250px', 'max_width': '700px'})
numHomesPurch

figDict={'Average Home Number':numHomesPurch, 'Average Home Price': figure}

In [8]:
def update_figure(neighborhood_name, data):
    lines.y = data[(data['Neighborhood'] == neighborhood_name) & (data['Year'] < 2021)].Infl_Price
    ax_y.label = 'Price'
    figure.title = "Average Home Price in " + neighborhood_name

update_figure('Fruit Belt', priceData)

In [68]:
#Find a start date and end date
date_start = pd.datetime(1994, 12, 31)
date_end = pd.datetime(2011, 12, 31)

#Find a scale for the data
date_scale = DateScale(min=date_start, max=date_end)
date_data = pd.date_range(start=date_start, end=date_end, freq='A', normalize=True)

x_scale = LinearScale()
data = Lines(x=foreclosures.Year, y=foreclosures.Foreclosures, scales={'x': LinearScale(), 'y': x_scale})
ax_x = Axis(label='Year', scale=date_scale, num_ticks=7, tick_format='%Y')
ax_y = Axis(label='Number of Foreclosures', scale=x_scale, orientation='vertical', side='left')
plot = Figure(axes=[ax_x, ax_y], title='Number of Foreclosures in Fruit Belt', marks=[data], animation_duration=500,
                layout={'max_height': '250px', 'max_width': '700px'})
plot

Figure(animation_duration=500, axes=[Axis(label='Year', num_ticks=7, scale=DateScale(max=datetime.datetime(201â€¦

In [42]:
center = [42.880230, -78.878738]
dynamicMap = Map(center=center, zoom=11)

marker = Marker(icon=AwesomeIcon(name="check", marker_color='green', icon_color='darkgreen'))

search = SearchControl(position="topright", 
                       url='https://nominatim.openstreetmap.org/search?format=json&q={s}', 
                       zoom=5,
                       property_name='display_name',
                       marker=marker
                      )

dynamicMap.add_control(search)

widget_control1 = WidgetControl(widget=figure, position='bottomleft')

dynamicMap.add_control(widget_control1)

with open('Neighborhoods.geojson') as f:
    neighborhoods = json.load(f)
    
geo = GeoJSON(data=neighborhoods, style={'fillColor': 'white', 'weight': 0.5}, hover_style={'fillColor': '#1f77b4'}, name='Neighborhoods')
dynamicMap.add_layer(geo)


control = LayersControl(position='bottomright')

def on_hover(event, feature, **kwargs):
    global neighborhood_name

    neighborhood = feature['properties']['nbhdname']
    update_figure(neighborhood, priceData)
            
def on_click(event, feature, **kwargs):
    neighborhood = feature['properties']['nbhdname']
    for index in range(0, len(housingDataDict)):
        if housingDataDict[index]['Neighborhood'] == neighborhood:
            circle = Circle()
            circle.location = (housingDataDict[index]['Latitude'], housingDataDict[index]['Longitude'])
            circle.radius = int(housingDataDict[index]['Price'] / 5000)
            circle.color = "green"
            dynamicMap.add_layer(circle)
            
            
dynamicMap.add_control(FullScreenControl())
dynamicMap.add_control(control)

                
geo.on_hover(on_hover)
geo.on_click(on_click)
dynamicMap

Map(center=[42.88023, -78.878738], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title',â€¦

In [69]:
with open('Neighborhoods.geojson') as f:
    neighborhoods = json.load(f)

basicMap = Map(center = [42.880230, -78.878738], zoom = 11)
background = basemaps.OpenStreetMap.Mapnik
basicMap.add_control(FullScreenControl())
layers = []
plotWidget = WidgetControl(widget=plot, position='bottomleft', max_width=700, max_height=700)
@interact
def changeMap(Maps=['Clear','Basic Map']):
    if Maps == 'Clear':
        if layers != []:
            basicMap.clear_layers()
            layers.clear()
        basicMap.add_layer(background)
        layers.append('Background')
    elif Maps == 'Basic Map':
        if 'Geo' in layers:
            basicMap.remove_layer(basicMapGeoData)
        basicMapGeoData = GeoJSON(data=neighborhoods, style={'fillColor': 'white', 'weight': 0.5}, hover_style={'fillColor': '#1f77b4'}, name='Neighborhoods')
        basicMap.add_layer(basicMapGeoData)
        layers.append('Geo')
        
@interact
def changeFigure(Figures=['Clear', 'Average Home Price', 'Average Number of Homes', 'Foreclosure']):
    if Figures != 'Clear':
        if 'Geo' in layers:
            basicMap.add_control(plotWidget)
            
            
            
basicMap

interactive(children=(Dropdown(description='Maps', options=('Clear', 'Basic Map'), value='Clear'), Output()), â€¦

interactive(children=(Dropdown(description='Figures', options=('Clear', 'Average Home Price', 'Average Number â€¦

Map(center=[42.88023, -78.878738], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title',â€¦

In [11]:
foreclosures = chartData[(chartData['DT'] == 'D1D') & (df['Year'] <= 2020)]
foreclosures = foreclosures.groupby(['Neighborhood', 'Year']).size().reset_index()
foreclosures = foreclosures.rename(columns={0: 'Foreclosures'})
foreclosures = foreclosures[(foreclosures['Neighborhood'] == 'Fruit Belt')]

C:\Users\KevinBrito\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [28]:
avgHomePrice = {'date_start': pd.datetime(1975, 12, 31),
                'date_end': pd.datetime(2020, 12, 31),
                'data': Lines(x=priceDataFB.Year, y=priceDataFB.Infl_Price, scales={'x': LinearScale(), 'y': x_scale}),
                'ax_x': Axis(label='Year', scale=date_scale, num_ticks=10, tick_format='%Y'),
                'ax_y': Axis(label='Price', scale=x_scale, orientation='vertical', side='left'),
                'plot': Figure(axes=[ax_x, ax_y], title='Average Home Price in Fruit Belt', marks=[lines], animation_duration=500,
                layout={'max_height': '250px', 'max_width': '700px'})}

foreclosureDict = {'date_start': pd.datetime(1994, 12, 31),
                   'date_end': pd.datetime(2011, 12, 31),
                   'data': Lines(x=foreclosures.Year, y=foreclosures.Foreclosures, scales={'x': LinearScale(), 'y': x_scale}),
                   'ax_x': Axis(label='Year', scale=date_scale, num_ticks=10, tick_format='%Y'),
                   'ax_y': Axis(label='Number of Foreclosures', scale=x_scale, orientation='vertical', side='left'),
                   'plot': Figure(axes=[ax_x, ax_y], title='Number of Foreclosures in Fruit Belt', marks=[data], animation_duration=500,
                layout={'max_height': '250px', 'max_width': '700px'})}

figDictionary = {'Foreclosure': foreclosureDict, 'Average Home Price': avgHomePrice}

In [31]:
def graphChanger(figDict, figure, description):
    figure.axes =[figDict[description]['ax_x'], figDict[description]['ax_y']]
    figure.title = description
    figure.marks = [figDict[description]['data']]
    
graphChanger(figDictionary, plot, 'Foreclosure')